@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
}

body,
html {
    font-family: 'NotoSerifKR';
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height : 100vh;
}
.conso {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 40px;
    z-index: 99;
    background: #fff;
    color: #4d4d4d;
}
.scroll_wrap {
    position: absolute;
    width: 100%;
    height: max-content;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 390px;
}
.page {
    position: relative;
    height: 844px;
    width: 100%;
    scroll-snap-align: start;
    background: #fff;
    color: #4d4d4d;
    overflow: hidden;
}
.paragraph{
    position: relative;
    left: 30px;
    top: 50px;
    opacity: 0;
    transform: translateY(-10px);
    transition-duration: 0.8s;
}
.paragraph.visible{
    opacity: 1;
    transform: translateY(0);
}
.header_text{
    position: relative;
    width: fit-content;
    margin: 3px 0;
    /* letter-spacing: 1; */
}
.header_text.visible{
    opacity: 1;
    transform: translateY(0);
}
.light{
    font-family: "Noto Serif KR", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}
.midium{
    font-family: "Noto Serif KR", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 23px;
}
.bold{
    font-family: "Noto Serif KR", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 31px;
}

.main_video {
    position: absolute;
    height: auto;
    width: 100%;
    top: 220px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.dim {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #0000001a;
}
.gallery {
    position: relative;
    width: 100%;
    height: auto;
}
.slick-dots li button:before{
    text-indent: -9999px;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background: #e6e6e6;
    border-radius: 40px;
    text-indent: -9999px;
}
li.slick-active{
    background: #000;
}
.slick-dots{
    /* text-indent: -9999px; */
}
.img_wrap_1 {
    background: url(./img/1.jpg);
}
.img_wrap_2 {
    background: url(./img/2.jpg);
}
.img_wrap_3 {
    background: url(./img/3.jpg);
}
.img_wrap_4 {
    background: url(./img/4.jpg);
}
.img_wrap_5 {
    background: url(./img/5.jpg);
}
.img_wrap_6 {
    background: url(./img/6.jpg);
}
.img_wrap_7 {
    background: url(./img/7.jpg);
}
.img_wrap_8 {
    background: url(./img/8.jpg);
}
.img_wrap_9 {
    background: url(./img/9.jpg);
}
.img_wrap_10 {
    background: url(./img/10.jpg);
}

.img_wrap {
    position: relative;
    width: 300px;
    height: 300px;
    background-size: 100% 100% !important;
    background-position: center !important;
}
.img_wrap > img {
    position: relative;
    width: 300px;
    height: auto;
    object-fit: cover;
    /* cursor: pointer;
    transition: transform 0.2s; Animation */
}
.slick-initialized .slick-slide {
    position: relative;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.scroll-indicator {
    font-size: 1.3rem;
    position: absolute;
    z-index: 99;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;
    text-align: center;
    display: none;
}

.hand-icon {
    animation: bounce 2.5s infinite;
    font-size: 2.2rem;
    top: 20px;
    position: relative;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
#page1{
    /* color: #fff;
    text-shadow: 1px 1px 2px black; */
}
#page1 > .main_video{
    position: absolute;
    width: 100%;
    top: 210px;
    left: 50%;
    transform: translateX(-50%);
}

#page2 > .overlay > .paragraph{
    letter-spacing: 0.5px;
    top: 50px;
}
#page2 > .overlay > .paragraph:nth-child(4){
    height: calc(100% - 350px);
    position: absolute;
    top: 182px;
    left: 0;
    width: 100%;
}
.baby{
    position: relative;
    width: 330px;
    height: 283px;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    /* top: 30%; */
    margin: 20px 0;
}
.baby > img{
    position: absolute;
    width: 100%;
}


#page3 > .overlay > .paragraph{
    top: 50px;
    letter-spacing: 0.5px;
}

#page3 > .overlay > .paragraph:nth-child(4){
    margin-top: 28px;
}
#page3 > .overlay > .paragraph:nth-child(4) > .header_text{
    font-size: 23px;
}
#page3 > .overlay > .paragraph:nth-child(5){
    position: relative;
    width: 100%;
    height: 488px;
    left: 0px;
    margin-top: 43px;
}
.gallery {
    position: relative;
    width: 100%;
    height: auto;
}
/* .pic {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
} */
/* .pic > img{
    position: absolute;
    width: 100%;
} */
#page4 > .overlay > .paragraph{
    top: 47px;
}
#page4 > .overlay > .paragraph > .header_text{
    letter-spacing: 1px;
}
#page4 > .overlay > .paragraph:nth-child(1) > .header_text{
    font-size: 29px;
    letter-spacing: 0px;
}
#page4 > .overlay > .paragraph:nth-child(2){
    margin-top: 42px;
}
#page4 > .overlay > .paragraph:nth-child(2) > .header_text{
    font-size: 18px;
    margin: 4px 0;
}
#page4 > .overlay > .paragraph:nth-child(3){
    margin-top: 32px;
}
#page4 > .overlay > .paragraph:nth-child(3) > .header_text{
    font-size: 18px;
    margin: 4px 0;
}
#page4 > .overlay > .paragraph:nth-child(5){
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 84px;
}
#page4 > .overlay > .paragraph:nth-child(5) > .header_text{
    font-size: 19px;
    margin-bottom: 8px;
}
#page4 > .overlay > .paragraph:nth-child(6){
    margin-top: 41px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_text > .detail{
    display: inline-block;
}
#page4 > .overlay > .paragraph:nth-child(5) > .header_text > .detail_1{
    margin-right: 7px;
    letter-spacing: 2px;
    margin-left: 2px;
}
#page4 > .overlay > .paragraph:nth-child(5) > .header_text > .detail_2{
    margin-right: 0px;
    letter-spacing: 2px;
}
#page4 > .overlay > .paragraph:nth-child(5) > .header_text > .detail_3{
    margin-right: 23px;
    font-size: 14px;
}
#page4 > .overlay > .paragraph:nth-child(5) > .header_text > .detail_4{
    margin-right: 9px;
    font-size: 14px;
    width: 34px;
    text-align: center;
    letter-spacing: 2px;
}
#page4 > .overlay > .paragraph:nth-child(5) > .header_text > .detail_5{
    letter-spacing: 10px;
}
#page4 > .overlay > .paragraph:nth-child(4){
    left: 0;
}
.page4_line{
    position: relative;
    background: url(./img/page4_line.png);
    width: 321px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 88px;
}

#page4 > .overlay > .paragraph:nth-child(6) > .header_text{
    font-size: 18px;
    font-weight: 700;
}
#page4 > .overlay > .paragraph:nth-child(6) > .header_text > .detail{
    margin-bottom: 9px;
}
.page4_line_2{
    position: relative;
    background: url(./img/page4_line_2.png);
    width: 1px;
    height: 15px;
    margin-right: 5px;
    margin-left: 6px;
    display: inline-block;
}

#page5 > .overlay > .paragraph{
    top: 46px;
}
#page5 > .overlay > .paragraph:nth-child(1) > .header_text{ font-size: 29px; }
#page5 > .overlay > .paragraph > .header_text.midium{ 
    font-size: 16px;
    width: 80%; 
    margin: 6px 0;
}
#page5 > .overlay > .paragraph > .header_text.small{ 
    font-size: 14px;
    width: 58px;
    color: #9c9c9c;
}
#page5 > .overlay > .paragraph > .header_text.small.detail{ 
    letter-spacing: 9px;
}

#page5 > .overlay > .paragraph > .header_text.bold:nth-child(2),
#page5 > .overlay > .paragraph > .header_text.bold:nth-child(3),
#page5 > .overlay > .paragraph > .header_text.bold:nth-child(4),
#page5 > .overlay > .paragraph > .header_text.bold:nth-child(5){ 
    font-size: 16px;
    width: 80%; 
    margin: 6px 0;
    letter-spacing: 1px;
}

#page5 > .overlay > .paragraph:nth-child(2){ margin-top: 40px; }
#page5 > .overlay > .paragraph:nth-child(3){ margin-top: 30px; }
#page5 > .overlay > .paragraph:nth-child(4){ margin-top: 30px; }
#page5 > .overlay > .paragraph:nth-child(5){ margin-top: 37px; }
#page5 > .overlay > .paragraph:nth-child(6){ 
    margin-top: 36px;
    width: 100%;
    height: 30%;
    left: 0;
}
#map {
    position: relative;
    width: 330px;
    height: 216px;
    left: 50%;
    transform: translateX(-50%);
}
#page6 > .overlay > .paragraph{
    top: 44px;
}
#page6 > .overlay > .paragraph:nth-child(1) > .header_text {
    font-size: 29px;
}
#page6 > .overlay > .paragraph:nth-child(2),
#page6 > .overlay > .paragraph:nth-child(3){ 
    left: 0;
    width: 273px;
    height: fit-content;
    margin: 30px auto;
}
#page6 > .overlay > .paragraph:nth-child(2){
    margin-top: 56px;
}
#page6 > .overlay > .paragraph:nth-child(2) > .header_text,
#page6 > .overlay > .paragraph:nth-child(3) > .header_text{ 
    font-size: 18px;
    margin-bottom: 5px;
}
/* #page6 > .overlay > .paragraph:nth-child(3) > .header_text{ 
    font-size: 20px;
    margin-bottom: 0px;
} */
.open_button{
    position: absolute;
    background: url(./img/open_button.png);
    width: 31px;
    height: 26px;
    right: 0;
    top: 0;
    transition-duration: 0.5s;
}
.open_button[data-set="open"]{
    transform: rotate(179deg);
}
.copy_button{
    position: relative;
    margin-left: 0px;
    top: 12px;
    float: right;
    background-color: #1b1464;
    font-size: 11px;
    color: #fff;
    font-family: auto;
    padding: 4px 10px 5px 9px;
    border-radius: 30px;
}
.page6_line{
    position: relative;
    background: url(./img/page6_line.png);
    width: 272px;
    height: 1px;
    margin: 10px 0;
    left: 50%;
    transform: translateX(-50%);
}
.account_wrap{
    position: relative;
    margin: 10px 0;
    height: 0;
    overflow: hidden;
    transition-duration: 0.5s;
}
.account_wrap[data-set="open"]{
    height: 136px;
}
.account_wrap > .detail_1{
    font-size: 11px;
    display: inline-block;
    color: #999999;
    margin-top: 13px;
    margin-right: 5px;
}
.account_wrap > .detail_2{
    margin-top: 13px;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2PX;
}
.account_wrap > .detail_3{
    font-size: 15px;
}

.overlay > .paragraph:nth-child(2){transition-delay: 0.8s;}
.overlay > .paragraph:nth-child(3){transition-delay: 1.6s;}
.overlay > .paragraph:nth-child(4){transition-delay: 2.4s;}
.overlay > .paragraph:nth-child(5){transition-delay: 3.2s;}
.overlay > .paragraph:nth-child(6){transition-delay: 4.0s;}
.overlay > .paragraph:nth-child(7){transition-delay: 4.8s;}    
.overlay > .paragraph:nth-child(8){transition-delay: 5.6s;}


.overlay > .first{
    transition-delay: 0.8s !important;
    letter-spacing: 1px;
}
.overlay > .second{
    transition-delay: 1.6s !important;
    letter-spacing: 1px;
}

